:root {
  --primary-color: #7264d6;
  --heading-text-color: #212832;
  --paragraph-text-color: #696d76;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

p {
  color: var(--paragraph-text-color);
}

a {
  text-decoration: none;
}

/* ===== Common ===== */
.container {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  line-height: 1.75;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: currentColor;
}

.text-heading {
  color: var(--heading-text-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--heading-text-color);
  line-height: 1.75;
  transition: scale 0.3s, background-color 0.3s;
}

.btn:hover {
  scale: 1.1;
  background-color: var(--primary-color);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== Header ===== */
.header {
  margin-top: 42px;
}

.navbar {
  margin-left: 70px;
}

.navbar__link {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  color: var(--paragraph-text-color);
  text-align: center;
  transition: color 0.3s, font-weight 0.3s;
}

.navbar__link::before {
  content: attr(data-text);
  display: block;
  height: 0;
  font-weight: 600;
  visibility: hidden;
  overflow: hidden;
}

.navbar__link::after,
.navbar__link.active::after {
  content: "";
  position: absolute;
  bottom: 5px;
  display: block;
  width: calc(100% - 48px);
  height: 1px;
  border-radius: 0.5px;
  background: var(--primary-color);
  scale: 0;
  transition: scale 0.3s;
}

.navbar__link.active::after {
  scale: 1;
}

.navbar__link:hover::after {
  scale: 1;
}

.navbar__link.active,
.navbar__link:hover {
  color: var(--heading-text-color);
  font-weight: 600;
}

.menu-cta {
  margin-left: auto;
}

.menu-cta__link {
  display: inline-block;
  color: var(--heading-text-color);
  font-weight: 600;
  transition: scale 0.3s, color 0.3s;
}

.menu-cta__link:hover {
  color: var(--primary-color);
  scale: 1.1;
}

.menu-cta__btn {
  margin-left: 28px;
  padding: 12px 28px;
}

.hero {
  margin-top: 76px;
}

.hero-content {
  width: 46%;
}

.hero__heading {
  margin-top: 12px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero__heading b {
  color: var(--primary-color);
}

.hero__desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.66;
}

.hero__form {
  position: relative;
  margin-top: 40px;
}

.hero__input {
  padding: 23px 170px 23px 23px;
  width: 100%;
  display: inline-block;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  border: none;
  outline: none;
  line-height: 1.75;
}

.hero__btn {
  position: absolute;
  top: 9px;
  right: 8px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
}

.hero__note {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}

.hero__media {
  padding-left: 102px;
  position: relative;
  width: 49%;
  margin-left: auto;
}

.hero-card__deposite {
  padding: 14px 10px;
  position: absolute;
  top: 113px;
  left: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-card__deposite p:first-of-type {
  margin-left: 8px;
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-card__deposite p:last-of-type {
  margin-left: 19px;
  color: #4ab5e3;
  font-size: 1.4rem;
}

.hero-card__interest {
  position: absolute;
  top: 127px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  color: #fff;
  border-radius: 50%;
  background-color: #da6464;
}

.hero-card__interest span:first-child {
  font-size: 4.4rem;
  font-weight: 600;
}

.hero-card__secure {
  padding: 20px 15px;
  position: absolute;
  right: 101px;
  bottom: 64px;
  gap: 11px;
  border-radius: 10px;
  background: #439f90;
}

.hero-card__secure p:first-child {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-card__secure p:last-child {
  margin-top: 5px;
  color: #fff;
  font-size: 0.8rem;
}

/* ===== Works ===== */
.works {
  margin-top: 160px;
}

.works__media {
  position: relative;
  background: url("../images/works-bg.svg") center bottom / contain no-repeat;
}

.works-media__icon {
  position: absolute;
  top: 90px;
  right: 60px;
}

.works__card {
  padding: 15px 30px 15px 15px;
  gap: 10px;
  position: absolute;
  right: -95px;
  bottom: 96px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.works__card p:first-child {
  color: var(--heading-text-color);
  font-size: 1.4rem;
  font-weight: 600;
}

.works__card p:last-child {
  margin-top: 5px;
  font-size: 1.2rem;
}

.works__content {
  width: 40%;
  margin-left: auto;
}

.works__heading {
  margin: 12px 0 70px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.works__title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
}

.works__title ~ .works__title {
  margin-top: 30px;
}

.works__desc {
  margin-top: 16px;
  line-height: 1.75;
}

/* ===== Feature ===== */
.feature {
  margin-top: 160px;
}

.feature .flex-row {
  justify-content: space-between;
}

.feature__content {
  width: 40%;
}

.feature__heading {
  margin-top: 12px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.feature__desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.66;
}

.feature__list {
  margin: 28px 0 38px;
}

.feature__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: var(--heading-text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.feature__item + .feature__item {
  margin-top: 18px;
}

.feature__item::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.feature__media {
  position: relative;
  width: 49%;
}

.feature__media svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.feature__img {
  object-fit: cover;
}

.feature-card__send {
  padding: 23px 13px;
  position: absolute;
  top: -48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-card__send img {
  width: 40px;
  height: 40px;
  object-fit: none;
}

.feature-card__send div:first-of-type {
  margin-left: 14px;
}

.feature-card__send div:first-of-type p:first-child {
  color: var(--heading-text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.feature-card__send div:first-of-type p:last-child {
  margin-top: 4px;
  font-size: 1rem;
  text-align: right;
}

.feature-card__send div:last-of-type {
  margin-left: 67px;
}

.feature-card__send div:last-of-type p:first-child {
  color: var(--heading-text-color);
}

.feature-card__send div:last-of-type p:last-child {
  margin-top: 3px;
  font-size: 1rem;
  text-align: right;
}

.feature-card__income {
  padding: 15px;
  width: 120px;
  position: absolute;
  right: 0;
  bottom: -55px;
  border-radius: 16px;
  background: #439f90;
}

.feature-card__income p:first-of-type {
  margin-top: 14px;
  color: #fff;
  font-size: 1.2rem;
}

.feature-card__income p:last-of-type {
  margin-top: 6px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.feature-card__payment {
  position: absolute;
  bottom: 57px;
  right: 35px;
  padding: 28px;
  background-color: #fff;
  box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature-card__payment p {
  margin-bottom: 20px;
  color: var(--heading-text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.feature-card__payment div {
  display: grid;
  grid-template-columns: repeat(3, 63px);
  grid-template-rows: 1fr 1fr;
  gap: 18px;
}

.feature-card__payment::after {
  content: "";
  position: absolute;
  top: -58px;
  right: -78px;
  display: block;
  width: 170px;
  height: 170px;
  background: url("../icons/money.svg") no-repeat;
}

.feature-bottom {
  margin-top: 160px;
}

/* ===== Feedback ===== */
.feedback {
  margin-top: 160px;
}

.feedback .subtitle {
  justify-content: center;
}

.feedback__heading {
  margin-top: 12px;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.feedback__desc {
  margin: 18px auto 70px;
  width: 35%;
  text-align: center;
  line-height: 1.75;
}

.feedback__list {
  gap: 30px;
}

.feedback__item {
  width: calc(50% - 15px);
  text-align: center;
}

.feedback__blockquote {
  position: relative;
  padding: 42px 28px;
  color: var(--paragraph-text-color);
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.54;
  background-color: #fff;
  border: 1px solid #dfe2e8;
  border-radius: 8px;
  transition: background-color 0.3s, filter 0.3s, border-color 0.3s;
}

.feedback__blockquote::before,
.feedback__blockquote::after {
  content: "";
  width: 90px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: -60px;
  translate: -50% 0;
}

.feedback__blockquote::before {
  background-color: #dfe2e8;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.feedback__blockquote::after {
  clip-path: polygon(2% 0%, 98% 0%, 50% 98%);
  background-color: #fff;
}

.feedback__blockquote:hover {
  border-color: #fff;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback__blockquote:hover::before {
  background-color: #fff;
}

.feedback__avatar {
  margin-top: 90px;
  width: 104px;
  height: 104px;
  background-color: #4ab5e3;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 8px;
}

.feedback__item:nth-child(2) .feedback__avatar {
  background-color: #439f90;
}

.feedback__name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
}

.feedback__career {
  margin-top: 2px;
  font-size: 1.8rem;
}

.feedback-control {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 38px;
}

.feedback-control__item {
  width: 25px;
  height: 6px;
  border: 1px solid #9b9fab;
  border-radius: 1px;
  cursor: pointer;
  transition: border-color 0.3s, scale 0.3s;
}

.feedback-control__item:hover {
  scale: 1.1;
  border-color: var(--primary-color);
}

.feedback-control__item.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* ===== Blog ===== */
.blog {
  margin-top: 160px;
}

.blog__content {
  width: 38%;
}

.blog__heading {
  margin-top: 6px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.blog__desc {
  margin-top: 18px;
  line-height: 1.75;
}

.blog__cta {
  margin-left: auto;
}

.blog__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.blog__item {
  padding: 28px;
  gap: 22px;
  background-color: #fff;
  border: 1px solid #dfe2e8;
  border-radius: 12px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.blog__item:hover {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__info {
  width: 100%;
}

.blog__img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.blog__date {
  font-size: 1.4rem;
}

.blog__title {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.blog__link {
  display: inline-block;
  margin-top: 20px;
  color: var(--paragraph-text-color);
}

/* ===== CTA ===== */
.cta {
  position: relative;
  margin-top: 160px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #7264d6;
}

.subtitle {
  color: #fff;
}

.cta__heading {
  margin-top: 12px;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}

.cta__desc {
  margin-top: 18px;
  width: 40%;
  color: #fff;
  text-align: center;
  line-height: 1.75;
}

.cta__app {
  margin-top: 38px;
  gap: 16px;
}

.cta__star {
  position: absolute;
}

.cta__star:first-of-type {
  top: 49px;
  left: 112px;
}

.cta__star:nth-of-type(2) {
  top: 49px;
  right: 112px;
}

.cta__star:nth-of-type(3) {
  bottom: 49px;
  left: 166px;
}

.cta__star:last-of-type {
  bottom: 49px;
  right: 166px;
}

/* ===== Footer ===== */
.footer {
  margin-top: 100px;
  padding-top: 100px;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  grid-template-rows: auto;
  gap: 70px 160px;
}

.footer-item__title {
  margin-bottom: 24px;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-item__list li + li {
  margin-top: 18px;
}

.footer-item__link {
  color: var(--paragraph-text-color);
  font-size: 1.8rem;
}

.footer-item__address {
  margin-bottom: 48px;
  font-size: 1.8rem;
}

.footer__form {
  justify-content: space-between;
}

.footer__input {
  padding: 12px;
  width: 70%;
  color: #8e919a;
  border-radius: 6px;
  border: 1px solid #8e919a;
  outline: none;
}

.footer__btn {
  margin-left: 20px;
  padding: 10px 18px;
  border-radius: 6px;
  background: #7264d6;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__tel,
.footer__email {
  color: var(--paragraph-text-color);
  font-size: 1.8rem;
  text-decoration: underline;
  white-space: nowrap;
}

.footer__copyright {
  margin-top: 28px;
  padding: 28px 0;
  color: #fff;
  text-align: center;
  background: var(--primary-color);
}
