:root {
  --primary-color: #7264d6;
  --heading-text-color: #212832;
  --paragraph-text-color: #696d76;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

p {
  color: var(--paragraph-text-color);
}

a {
  text-decoration: none;
}

/* ===== Common ===== */
.container {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  line-height: 1.75;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: currentColor;
}

.text-heading {
  color: var(--heading-text-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--heading-text-color);
  line-height: 1.75;
  transition: scale 0.3s, background-color 0.3s;
}

.btn:hover {
  scale: 1.1;
  background-color: var(--primary-color);
}

/* ===== Header ===== */
.header {
  margin-top: 42px;
}

.navbar {
  margin-left: 70px;
}

.navbar__link {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  color: var(--paragraph-text-color);
  text-align: center;
  transition: color 0.3s, font-weight 0.3s;
}

.navbar__link::before {
  content: attr(data-text);
  display: block;
  height: 0;
  font-weight: 600;
  visibility: hidden;
  overflow: hidden;
}

.navbar__link::after,
.navbar__link.active::after {
  content: "";
  position: absolute;
  bottom: 5px;
  display: block;
  width: calc(100% - 48px);
  height: 1px;
  border-radius: 0.5px;
  background: var(--primary-color);
  scale: 0;
  transition: scale 0.3s;
}

.navbar__link.active::after {
  scale: 1;
}

.navbar__link:hover::after {
  scale: 1;
}

.navbar__link.active,
.navbar__link:hover {
  color: var(--heading-text-color);
  font-weight: 600;
}

.menu-cta {
  margin-left: auto;
}

.menu-cta__link {
  display: inline-block;
  color: var(--heading-text-color);
  font-weight: 600;
  transition: scale 0.3s, color 0.3s;
}

.menu-cta__link:hover {
  color: var(--primary-color);
  scale: 1.1;
}

.menu-cta__btn {
  margin-left: 28px;
  padding: 12px 28px;
}

.hero {
  margin-top: 76px;
}

.hero-content {
  width: 46%;
}

.hero__heading {
  margin-top: 12px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero__heading b {
  color: var(--primary-color);
}

.hero__desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.66;
}

.hero__form {
  position: relative;
  margin-top: 40px;
}

.hero__input {
  padding: 23px 170px 23px 23px;
  width: 100%;
  display: inline-block;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  border: none;
  outline: none;
  line-height: 1.75;
}

.hero__btn {
  position: absolute;
  top: 9px;
  right: 8px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
}

.hero__note {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}

.hero__media {
  padding-left: 102px;
  position: relative;
  width: 49%;
  margin-left: auto;
}

.hero-card__deposite {
  padding: 14px 10px;
  position: absolute;
  top: 113px;
  left: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-card__deposite p:first-of-type {
  margin-left: 8px;
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-card__deposite p:last-of-type {
  margin-left: 19px;
  color: #4ab5e3;
  font-size: 1.4rem;
}

.hero-card__interest {
  position: absolute;
  top: 127px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  color: #fff;
  border-radius: 50%;
  background-color: #da6464;
}

.hero-card__interest span:first-child {
  font-size: 4.4rem;
  font-weight: 600;
}

.hero-card__secure {
  padding: 20px 15px;
  position: absolute;
  right: 101px;
  bottom: 64px;
  gap: 11px;
  border-radius: 10px;
  background: #439f90;
}

.hero-card__secure p:first-child {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-card__secure p:last-child {
  margin-top: 5px;
  color: #fff;
  font-size: 0.8rem;
}

/* ===== Works ===== */
.works {
  margin-top: 160px;
}

.works__media {
  position: relative;
  background: url("../images/works-bg.svg") center bottom / contain no-repeat;
}

.works-media__icon {
  position: absolute;
  top: 90px;
  right: 60px;
}

.works__card {
  padding: 15px 30px 15px 15px;
  gap: 10px;
  position: absolute;
  right: -95px;
  bottom: 96px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.works__card p:first-child {
  color: var(--heading-text-color);
  font-size: 1.4rem;
  font-weight: 600;
}

.works__card p:last-child {
  margin-top: 5px;
  font-size: 1.2rem;
}

.works__content {
  width: 40%;
  margin-left: auto;
}

.works__heading {
  margin: 12px 0 70px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.works__title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
}

.works__title ~ .works__title {
  margin-top: 30px;
}

.works__desc {
  margin-top: 16px;
  line-height: 1.75;
}

/* ===== Feature ===== */
.feature {
  margin-top: 160px;
}

.feature .flex-row {
  justify-content: space-between;
}

.feature__content {
  width: 40%;
}

.feature__heading {
  margin-top: 12px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.feature__desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.66;
}

.feature__list {
  margin: 28px 0 38px;
}

.feature__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: var(--heading-text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.feature__item + .feature__item {
  margin-top: 18px;
}

.feature__item::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.feature__media {
  position: relative;
  width: 49%;
}

.feature__media svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.feature__img {
  object-fit: cover;
}

.feature-card__send {
  padding: 23px 13px;
  position: absolute;
  top: -48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-card__send img {
  width: 40px;
  height: 40px;
  object-fit: none;
}

.feature-card__send div:first-of-type {
  margin-left: 14px;
}

.feature-card__send div:first-of-type p:first-child {
  color: var(--heading-text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.feature-card__send div:first-of-type p:last-child {
  margin-top: 4px;
  font-size: 1rem;
  text-align: right;
}

.feature-card__send div:last-of-type {
  margin-left: 67px;
}

.feature-card__send div:last-of-type p:first-child {
  color: var(--heading-text-color);
}

.feature-card__send div:last-of-type p:last-child {
  margin-top: 3px;
  font-size: 1rem;
  text-align: right;
}

.feature-card__income {
  padding: 15px;
  width: 120px;
  position: absolute;
  right: 0;
  bottom: -55px;
  border-radius: 16px;
  background: #439f90;
}

.feature-card__income p:first-of-type {
  margin-top: 14px;
  color: #fff;
  font-size: 1.2rem;
}

.feature-card__income p:last-of-type {
  margin-top: 6px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.feature-card__payment {
  position: absolute;
  bottom: 57px;
  right: 35px;
  padding: 28px;
  background-color: #fff;
  box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature-card__payment p {
  margin-bottom: 20px;
  color: var(--heading-text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.feature-card__payment div {
  display: grid;
  grid-template-columns: repeat(3, 63px);
  grid-template-rows: 1fr 1fr;
  gap: 18px;
}

.feature-card__payment::after {
  content: "";
  position: absolute;
  top: -58px;
  right: -78px;
  display: block;
  width: 170px;
  height: 170px;
  background: url("../icons/money.svg") no-repeat;
}

.feature-bottom {
  margin-top: 160px;
}
